.tabbar-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 56px;
    background: var(--tabbar-background);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    transition: all 0.3s ease;
}

.inactive-icon {
    padding: 10px;
    border-radius: 17px;
    color: var(--tabbar-icon-inactive);
}

.active-icon {
    background: var(--accent);
    padding: 10px;
    border-radius: 17px;
    transform: translateY(-10px);
    color: #fff;
    animation: upIcon 300ms;
}

.tabbar-item {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.tabbar-item:active {
    transform: scale(0.95);
}

@keyframes upIcon {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-10px);
    }
}