.tabbar-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: var(--tabbar-height);
    background: var(--tabbar-background);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.tabbar-icon {
    padding: 10px;
    border-radius: 17px;
    color: var(--tabbar-icon-inactive);
}

.tabbar-icon-active {
    background: var(--accent);
    color: #fff;
    cursor: default;
}

.tabbar-item {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s all ease;
}

.tabbar-item-active {
    cursor: default;
    animation: upIcon ease;
    transform: translateY(-10px);
}

.tabbar-item:active {
    transform: scale(0.95);
}
