.games-game-card--container {
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 15px;
    height: 120px;
    margin: 5px;
    flex-basis: 180px;
    flex-grow: 1;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: 0.3s all ease;
}

.games-game-card--box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    padding: 15px;
}

@media screen and (max-width: 992px) {
    .games-game-card--box {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        padding: 15px;
    }
}

@media screen and (max-width: 600px) {
    .games-game-card--box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        padding: 15px;
    }
}

.games-game-card--container:hover {
    transition: 0.3s all ease;
    background-size: 110%;
    transform: scale(1.02);
}

.games-game-card--container:active {
    background-size: 100%;
    transform: scale(0.95);
}

.games-game-card--title {
    background: rgba(0, 0, 0, 0.72);
    border-radius: 10px;
    position: absolute;
    top: 8px;
    left: 8px;
    font-weight: 500;
    font-size: 12px;
    padding: 2px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.games-game-card--online {
    display: flex;
    justify-content: center;
    align-items: center;
}