.user-info-modal-balance {
    background: var(--accent);
    padding: 3px 8px;
    border-radius: 15px;
    color: #fff;
    font-weight: 500;
}

.user-info-modal-stats-card {
    background: var(--card-background);
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 12px;
    box-shadow: rgba(0, 0, 0, 0.28) 0 0 100px 1px;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes showsBox {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}