@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap");

.vkui--vkCom--light,
.vkui--vkBase--light,
.vkui--vkIOS--light,
:root {
    /* static variables */
    --tabbar-height: 55px;
    --panel-indent: calc(var(--tabbar-height) + 15px);
    --accent: #5d61ec;
    --red: #b4103a;
    --green: #28b75a;
    --wheel-red: #cc0025;
    --wheel-black: #2c2c33;
    --wheel-green: #0f9348;
    --wheel-even: #ff6a00;
    --wheel-odd: #00adcc;
    --wheel-range: rgb(42,29,84);
    /* end static variables */
    --profile-action-button: #e6daf1;
    --back-button-background: #ebeafa;
    --text-color: black;
    --text-color-revert: white;
    --shop-profit-background: #4f3fbd;
    --shop-offer-lite: #0095ff;
    --shop-offer-medium: #ffc400;
    --shop-offer-middle: #8854e3;
    --shop-offer-mega: #f13b56;
    --card-background: #ede9f1;
    --modal-card-background: #ffffff;
    --background-content: #ffffff;
    --tabbar-background: #f1eff5;
    --input-background: #ede9f1;
    --tabbar-icon-inactive: #4d4d4d;
    --vkui--color_background_content: #ffffff !important;
    --bonus-card-background: #9191da;
    --bonus-card-icon-color: rgba(43, 19, 129, 0.52);
    --screen-spinner-background: #d8c9ff;
    --snackbar-background: #f6f4ff;
    --divider-color: rgba(0, 0, 0, 0.17);
    --popout-background: rgba(10, 14, 31, 0.6);
    --popout-body-background: #e5e3ff;
    --text-secondary: #8a8a8a;
    --my-bets-bet-background: #dad7d7;
    --betting-table-background: #ede9f1;
    --betting-table-divider-color: #d2ccd7;
}

.vkui--vkCom--dark,
.vkui--vkBase--dark,
.vkui--vkIOS--dark,
:root {
    --profile-action-button: #211d2d;
    --back-button-background: rgba(40, 26, 63, 0.37);
    --text-color: white;
    --text-color-revert: black;
    --card-background: #191525;
    --modal-card-background: #1e1b2a;
    --background-content: #100d15;
    --tabbar-background: #1A1521FF;
    --input-background: #191525;
    --tabbar-icon-inactive: #d7d7d7;
    --vkui--color_background_content: #100d15 !important;
    --bonus-card-background: #33335d;
    --bonus-card-icon-color: #6c89ee;
    --screen-spinner-background: #201934;
    --snackbar-background: #1f1b2f;
    --divider-color: rgba(255, 255, 255, 0.16);
    --popout-body-background: #211b3f;
    --text-secondary: #706e79;
    --my-bets-bet-background: #05010e;
    --betting-table-background: #17151e;
    --betting-table-divider-color: #23202d;
}

* {
    user-select: none;
    font-family: "Ubuntu", sans-serif;
    outline: none;
}

.vkuiPullToRefresh--ios,
.vkuiPullToRefresh__spinner {
    color: var(--accent) !important;
}

.vkuiInput {
    border-radius: 12px !important;
    background: var(--input-background) !important;
}

.vkuiModalCardBase__container {
    border-radius: 14px !important;
    background: var(--modal-card-background) !important;
}

.vkuiPanel,
.vkuiPanel__in,
.vkuiPanel:before
{
    background: var(--background-content) !important;
    min-height: 100vh;
}

.vkuiTabbar {
    background: var(--tabbar-background) !important;
}

.defaultFlexbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vkuiScreenSpinner {
    background: rgba(6, 6, 30, 0.6) !important;
}

.vkuiScreenSpinner__spinner {
    color: var(--accent) !important;
}
.vkuiScreenSpinner__container {
    border-radius: 15px !important;
    background: var(--screen-spinner-background) !important;
}

.vkuiSnackbar__body {
    background: var(--snackbar-background) !important;
    border-radius: 13px !important;
}

.username {
    animation: moveUsernameBackground 4s linear infinite;
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes moveUsernameBackground {
    to {
        background-position: 200% center;
    }
}