@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");

.vkui--vkCom--light,
.vkui--vkBase--light,
.vkui--vkIOS--light,
:root {
    /* static variables */
    --tabbar-height: 55px;
    --accent: #5d61ec;
    --red: #b4103a;
    --green: #28b75a;
    /* end static variables */
    --profile-action-button: #e6daf1;
    --back-button-background: #ebeafa;
    --text-color: black;
    --text-color-revert: white;
    --shop-profit-background: #e72e47;
    --shop-offer-lite: #0095ff;
    --shop-offer-medium: #ffc400;
    --shop-offer-middle: #8854e3;
    --shop-offer-mega: #f13b56;
    --card-background: #ede9f1;
    --modal-card-background: #ffffff;
    --background-content: #ffffff;
    --tabbar-background: #f1eff5;
    --input-background: #ede9f1;
    --tabbar-icon-inactive: #4d4d4d;
    --vkui--color_background_content: #ffffff !important;
    --bonus-card-background: #9191da;
    --bonus-card-icon-color: rgba(43, 19, 129, 0.52);
    --screen-spinner-background: #d8c9ff;
    --snackbar-background: #f6f4ff;
    --divider-color: rgba(0, 0, 0, 0.17);
}

.vkui--vkCom--dark,
.vkui--vkBase--dark,
.vkui--vkIOS--dark,
:root {
    --profile-action-button: #211d2d;
    --back-button-background: rgba(40, 26, 63, 0.37);
    --text-color: white;
    --text-color-revert: black;
    --card-background: #191525;
    --modal-card-background: #1e1b2a;
    --background-content: #100d15;
    --tabbar-background: #1A1521FF;
    --input-background: #191525;
    --tabbar-icon-inactive: #d7d7d7;
    --vkui--color_background_content: #100d15 !important;
    --bonus-card-background: #33335d;
    --bonus-card-icon-color: #6c89ee;
    --screen-spinner-background: #201934;
    --snackbar-background: #1f1b2f;
    --divider-color: rgba(255, 255, 255, 0.16);
}

* {
    user-select: none;
    font-family: "Rubik", sans-serif;
    outline: none;
}

.vkuiPullToRefresh--ios,
.vkuiPullToRefresh__spinner {
    color: var(--accent) !important;
}

.vkuiInput {
    border-radius: 12px !important;
    background: var(--input-background) !important;
}

.vkuiModalCardBase__container {
    border-radius: 14px !important;
    background: var(--modal-card-background) !important;
}

.vkuiPanel,
.vkuiPanel__in,
.vkuiPanel:before
{
    background: var(--background-content) !important;
    min-height: calc(100vh + var(--tabbar-height));
}

.vkuiTabbar {
    background: var(--tabbar-background) !important;
}

.defaultFlexbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vkuiScreenSpinner {
    background: rgba(6, 6, 30, 0.6) !important;
}

.vkuiScreenSpinner__spinner {
    color: var(--accent) !important;
}
.vkuiScreenSpinner__container {
    border-radius: 15px !important;
    background: var(--screen-spinner-background) !important;
}

.vkuiSnackbar__body {
    background: var(--snackbar-background) !important;
    border-radius: 13px !important;
}